*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
}

body{
    background: black; 
    color: white; 
}

h1{
    padding: 2rem; 
    text-align: center;
}

.download a {
    color: aquamarine; 
    font-weight: 400;
}

.download{
    margin: 1rem 0rem; 
    text-align: center;
}

.wrapper {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content:center;
    margin-top: 2rem; 
}

p{
    text-align: center;
    color: gray;
}

#camp-wrapper{
    display: block; 
    margin: auto;
    padding: 2rem 0rem; 
}

#camp{
    display: block;
    margin: auto; 
    width: 50%; 
}

#phone{
    display: block; 
    margin: auto; 
}

#bottom-download{
    margin-top: -1rem; 
}

footer{
    padding: .5rem 1rem; 
    text-align: right;
    text-transform: uppercase;
    font-weight: 200; 
}